<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bedenko.genaro.expresstable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.NewRestaurantActivity" />
        <activity android:name=".views.ChooseAccountTypeActivity" />
        <activity android:name=".views.ViewRestaurantActivity" />
        <activity android:name=".views.NewCustomerActivity" />
        <activity android:name=".views.SearchRestaurantsGpsActivity" />
        <activity android:name=".views.BookRestaurantActivity" />
        <activity android:name=".views.BookingConfirmationActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.CustomerDashboardActivity" />
        <activity android:name=".views.RestaurantDashboardActivity" />
        <activity android:name=".views.RestaurantReservationsActivity" />
        <activity android:name=".views.SearchRestaurantsListActivity"></activity>
    </application>

</manifest>